#matchesPerYear {
    min-width: 310px;
    height: 400px;
    margin: 0 auto;

}
#extraRun {
    min-width: 310px; 
    height: 400px;
     margin: 0 auto
}
#topTen {
    min-width: 310px; 
    height: 400px; 
    margin: 0 auto"
}
#matchesWonPerTeam {
    min-width: 310px;
     height:400px;
      margin:0 auto
}
/* body {
    background-color: blueviolet;
} */